//-- typography colors
$primary-text: #333;
$secondary-text: #777;

//-- button colors
$primary-button: #4979ff;
$button-text: #fff;

//-- other color variables
$pokemon-red: #e4000f;
$page-divide: #ddd;
$background-color: #f2f2f2;
