.header {
  margin: 1rem auto 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;

  .logoContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .logoImage {
    margin-left: 1rem;
    height: auto;
    width: 4.5rem;
  }

  .list {
    display: flex;
    align-items: center;
  }

  .listItemContainer {
    padding: 0 2rem;
  }
}
