@use "../partials/variables" as *;
@use "../partials/mixins" as *;

.header {
  margin: 1rem auto 2rem;
  @include flex(space-between, center);
  border-bottom: 1px solid $page-divide;

  .logoContainer {
    @include flex(none, center);
    cursor: pointer;
  }

  .logoImage {
    margin-left: 1rem;
    @include height-width(4.5rem, auto);
  }

  .list {
    @include flex(none, center);
  }

  .listItemContainer {
    padding: 0 2rem;
  }
}
