@use "../partials/variables" as *;
@use "../partials/mixins" as *;

//-- custom animated keyframes
@keyframes shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.main {
  .title {
    color: $primary-text;
    text-align: center;
    padding: 2rem 0;
  }

  .text {
    color: $secondary-text;
    text-align: center;
  }

  .imageContainer {
    @include flex(center, none);
  }

  .pokeImage {
    margin: 2.5rem;
    @include height-width(auto, 15rem);
    animation: shaking 3s infinite;
  }

  .btn {
    display: block;
    width: 15rem;
    padding: 0.8rem 0;
    margin: 5rem auto;
    background: $primary-button;
    border-radius: 4px;
    color: $button-text;
    text-align: center;
    transition: 0.3s ease-in-out;

    &:hover {
      scale: 1.1;
    }
  }
}
