@use "../partials/variables" as *;

@keyframes shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.main {
  .title {
    color: #333;
    padding: 2rem 0;
    text-align: center;
  }

  .text {
    color: #777;
    text-align: center;
  }

  .imageContainer {
    display: flex;
    justify-content: center;
  }

  .pokeImage {
    margin: 2.5rem;
    height: 15rem;
    width: auto;
    animation: shaking 3s infinite;
  }

  .btn {
    display: block;
    width: 15rem;
    padding: 0.8rem 0;
    margin: 5rem auto;
    background: $primary-color;
    border-radius: 4px;
    color: white;
    text-align: center;
  }
}
