@use "../partials/variables" as *;

//-- custom animated keyframes
@keyframes shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.detailContainer {
  display: flex;
  align-items: center;

  .name {
    padding: 1rem;
    border-left: 4px solid transparent;
    cursor: pointer;

    &:hover {
      border-left: 4px solid $pokemon-red;
    }
  }

  .pokeball {
    animation: shaking 3s infinite;
  }
}
