@use "./partials/variables" as *;
@use "./partials/mixins" as *;

//-- imported fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

//-- global styles
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: $background-color;
  color: $primary-text;
}

ol,
ul {
  list-style: none;
}

li,
a {
  color: inherit;
  text-decoration: none;
}

a {
  color: $primary-text;
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

//-- navigation component styles
.layout {
  max-width: 96rem;
  margin: 0 auto;
}

.footer {
  @include flex(center, center);
  padding: 2rem 0;
  color: $secondary-text;
  border-top: 1px solid $page-divide;

  &__text {
    margin-right: 0.5rem;
  }
}

//-- 404 page component styles
.not-found {
  text-align: center;

  &__image {
    margin: 2.5rem;
    @include height-width(auto, 15rem);
    animation: shaking 3s infinite;
  }

  &__home-btn {
    color: $primary-button;
    text-decoration: underline;
  }
}
